
/* profile */

.profile-section {
    
    font-size: 2.5vh;
}

/* like checkbox container */

.container-heart {
    display: inline-block;
    padding-left: 20px;
    padding-top: 30px;
}

input[type="checkbox"]{
    height: 16px;
    width: 16px;
    background-color:white;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none  
}

input[type="checkbox"]::before {
    position: absolute;
    content: "";
    background-color:white;
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 9px 9px 0 0;
}

input[type="checkbox"]::after{
    position: absolute;
    content:"";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 9px 9px 0 0;
    top: 20%;
    right: 79%;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]::before,
input:checked[type="checkbox"]::after {
    background-color: red;
}

[type="checkbox"]:checked+span:not(.lever):before{
    display: none;
}

[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked {
    opacity: 1;
    transform: rotate(45deg);
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;    
}

[type="checkbox"]+span:not(.lever):before, 
[type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    display: none;
}

.container-heart-section{
    position: relative;
}

.book-title {
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 2.8vh;
    font-weight: bold;
    margin-bottom: 0px;
}

/* comment section */

.comment-section {
    background-color: #4e342e;
    padding-top: 5px;
}

.comment {    
    border-radius: 30px;
    margin-bottom: 0;
    background-color: #d7ccc8;
    font-family: "Exo", sans-serif;
    font-size: 1.5vh;
    margin-top: 5px;
}

.comment div p:last-child{
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}

.material-tooltip{
    color: red;
    background-color: transparent ;
}


.like-list-section span{
    margin-left: 15px;
    font-weight: bold;
    font-family: "Exo", sans-serif;
    font-size: 1.5vh;
}










