@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap, https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css, https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* body */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* --- navigation */
.navbar {
    box-shadow: none;
    font-family: "Exo", sans-serif;
    letter-spacing: 1px;
  }

.nav-search {
    box-shadow: none;
    border-bottom: solid 1px #fafafa;
}

#dropdown1 li a {
    color: #fafafa;
}

.input-field i {
    margin-top: 0;
}

#search {
    height: 64px;
}

#dropdown1 a {
    padding-left: 5px;
    padding-right: 5px;
}

/* category section */

.category {
    margin-top: 55px;
}

.category a{
    margin-top: 15px;
    font-family: "Exo", sans-serif;
    color: #fafafa;
    letter-spacing: 1px;
}

/* call out section */

.callout {
  height: 65vh;
  width: auto;
  
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  background-position: 50% 50%;
  position: relative;
}

/* footer */

.footer-social {
    display: inline-block;
}

.footer-social li a {
  width: 32px;
  height: 32px;
  background-color: #bcaaa4 ;
  color: #fafafa;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.footer-social li a:hover {
  background-color: #009688;
  border: 1px solid #fafafa;
  border-color: #fafafa;
}

/* sign up */

.sign-up {
    max-width: 550px;
    background-color: rgba(250, 250, 250, 0.8);
}

.falsh-messages-warning{
    color: rgb(236, 82, 21);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

/* book section */

.book {
    margin-top: 15px;
    border: solid 1px #795548;
    color: #000;
    font-family: 'EB Garamond', serif;
}

.book img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.book-author{
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

.book-author span {
    font-weight: bold;
}

.book-description{
   font-family: 'EB Garamond', serif; 
}

.book-review span, .book-description span {
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}

.btn-size-large {
    width: 100%;
}

.book-collection-img {
    width: 100%;
    padding-top: 30px;
}

.modal {
   top: 50% !important;
}

.modal-footer{
    display: none;
}











