{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book_collection.css')}}" type="text/css">
{% endblock %}

{% block content %}
<div class="container profile-section">
    <div class="row">
        <!-- book image -->
        <div class="col s3">
            <img class="book-collection-img" src="{{ book.book_image_url }}" alt="cover image for {{ book.book_dsiplay_title}}">
        </div>
        <!-- book info -->
        <div class="col s9">
            <div class="row">
                <div class="col s12 container-heart-section">
                    <p class="book-title"> {{ book.book_title }} </p>
                    <form class="container-heart" method="POST" action="{{ url_for('book_collection', book_id=book._id) }}">
                        <label class="tooltipped" data-position="right" data-tooltip="{{ tooltip_value }}">
                            <input type="checkbox" name="book-like" onclick="$('.container-heart').submit();" {{ checkbox }}>                    
                        <span></span>
                        </label>
                    </form>
                </div>
            </div>
            <p class="book-author"><span>Author:</span> {{ book.book_author}}</p>
            <p class="book-description hide-on-small-only"><span>Description:</span> {{ book.book_description}}</p>
            <!-- Add review form section -->
            <div  id="modal1" class="modal">
                <div class="modal-content">
                <h4>{{ session.user }}</h4>
                    <form method="POST" action="{{ url_for('book_collection', book_id=book._id) }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-align-left prefix"></i>
                                <textarea name="review_description" id="review_description" minlength="5"
                                maxlength="250" class="materialize-textarea validate" required></textarea>
                                <label for="review_description">Review Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <button class="btn-large" type="submit" value="submit" name="btn">
                                    Submit <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
            <button data-target="modal1" class="btn-large modal-trigger btn-size-large">
                Add a review
                <i class="fas fa-feather"></i>
            </button>            
        </div>
    </div>
    <!-- user like the book section -->
    <section class="like-list-section">
        <span>Users who liked this book:</span> 
    <div class="row">
        <div class="col s12">
            {% for user in book.liked_by %}
            <div class="chip">                       
                {{ user._user }} 
            </div>
            {% endfor %}
            
        </div>
    </div>
    </section>
    <!-- comment section -->
     <section class="comment-section">
        {% for review in book.book_review|sort(attribute='review_date_value', reverse=true) %} 
        <div class="row comment">
            <div class="col s12">
                <p>
                    <strong>{{ review.review_by }}</strong> reviewed on ({{ review.review_date }}): 
                    {% if (session.user|lower == review.review_by|lower) or (session.user|lower == 'm_admin') %}
                    <a href="{{ url_for('delete_review', book_id=book._id, review_item=review.review_id) }}">
                        <i class="fas fa-trash-alt red-text tooltipped" data-position="right" data-tooltip="Remove this review"></i>
                    </a>
                    {% endif %}
                </p>                
                <p>{{ review.reviw_description }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
</div>


{% endblock %}

