{% extends "base.html" %}

{% block content %}


<section class="callout valign-wrapper" style="background: url({{ url_for('static', filename='images/hero-image-index.jpg') }}) center center;">
    <div class="row">
        <div class="sign-up col s10 offset-s1">
            <h4 class="center-align">Edit book</h4>
            {% for book in edit_book %}
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('edit_book_collection', book_id=book._id) }}">
                    <div class="row">
                        <!-- Book title -->
                        <div class="input-field blue-grey-text col s6">
                            <i class="material-icons blue-grey-text prefix">Title</i>
                            <input id="book_title" name="book_title" type="text" class="validate" minlength="1"
                                maxlength="30" pattern="^[a-zA-Z0-9_ ]{1,50}$" required value="{{ book.book_title }}">
                            <label for="book_title">Book Title</label>
                            <p class="blue-grey-text sub-note hide-on-med-and-down">Only letters and numbers</p>
                        </div>
                        <!-- Book author -->
                        <div class="input-field blue-grey-text col s6">
                            <i class="fas fa-user-edit blue-grey-text prefix"></i>
                            <input id="book_author" name="book_author" type="text" class="validate" minlength="1"
                                maxlength="15" pattern="^[a-zA-Z0-9_, ]{1,35}$" required value="{{ book.book_author }}">
                            <label for="book_author">Book Author</label>
                            <p class="blue-grey-text sub-note hide-on-med-and-down">Only letters and numbers</p>
                        </div>
                        <!-- Book description -->
                        <div class="input-field blue-grey-text col s12">
                            <i class="fas fa-align-left blue-grey-text prefix"></i>
                            <textarea id="book_description" name="book_description" class="validate materialize-textarea"
                                minlength="1" maxlength="350" pattern="^[a-zA-Z0-9_ ]{1,350}$" required >
                            {{- book.book_description -}}
                            </textarea>
                            <label for="book_description">Book Description</label>
                        </div>
                        <!-- Book image url link -->
                        <div class="input-field blue-grey-text col s12">
                            <i class="far fa-image blue-grey-text prefix"></i>
                            <input id="book_image_url" name="book_image_url" type="text" class="validate" minlength="5"
                                maxlength="150"
                                pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                                required value="{{ book.book_image_url }}">
                            <label for="book_image_url">Book Cover Image Link</label>
                            <p class="blue-grey-text sub-note hide-on-med-and-down">Valid URL link</p>
                        </div>
                        <!-- flash messages -->
                        {% with messages = get_flashed_messages() %}
                                {% for message in messages %}
                                    <p class="flash-messages green-text"><i class="fas fa-exclamation-circle"></i> {{ message }}</p>
                                {% endfor %}
                        {% endwith %}
                        <!-- Cancel and Edit buttons -->
                                <a href="{{ url_for('add_book_collection') }}" class="col s6 btn-large red">
                                    Cancel <i class="fas fa-times-circle"></i>
                                </a>
                                <button type="submit" class="col s6  btn-large teal center">
                                    Edit <i class="fas fa-edit"></i>
                                </button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}